$carousel-size: calc(min(#{$max-body-width} * 0.25, 50vw));

.carousel {
  background-color: #eee;
  border-radius: 0.5rem;
  display: inline-block;
  float: right;
  height: calc(#{$carousel-size} + 3rem);
  margin: 0 0 1rem 1rem;
  overflow: hidden;
  padding: 0.5rem 1rem;
  text-align: center;
  white-space: nowrap;
  width: $carousel-size;
  div {
    height: $carousel-size;
    margin-top: 0.5rem;
    position: relative;
    width: $carousel-size;
    figure {
      margin: 0;
      opacity: 0;
      position: absolute;
      width: $carousel-size;
      animation: 20s autoplay4 infinite;
      @keyframes autoplay4 {
         0% {opacity: 0.0}
        10% {opacity: 1.0}
        25% {opacity: 1.0}
        35% {opacity: 0.0}
      }
      &:nth-child(1) { animation-delay:  0s; }
      &:nth-child(2) { animation-delay:  5s; }
      &:nth-child(3) { animation-delay: 10s; }
      &:nth-child(4) { animation-delay: 15s; }
      img {
        max-height: $carousel-size;
        max-width: $carousel-size;
      }
    }
  }
}
