@media screen and (min-width: 500px) {
  // the Menü item is hidden
  header {
    a:nth-child(2) {
      visibility: hidden;
    }
  }
  // the nav is a float
  body {
    display: block;
    nav {
      float: left;
      margin: 0 1rem 1rem 0;
      > strong {
        display: none;
      }
      div {
        display: block;
      }
    }
  }
}
