---
title: "Alle Pagina's"
category: contact
language: nl
page-nr: 10000
---

<h3>Articles</h3>
<div class="articles">
  {% assign articles = site.articles | sort: "page-nr" %}
  {% assign article-count = 0 %}
  {% for article in articles %}
    <div>
      {{ article.page-nr }}
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
      {% assign article-count = article-count | plus: 1 %}
    </div>
  {% endfor %}
</div>

<h3>Lists</h3>
<div class="articles">
  {% assign lists = site.lists | sort: "page-nr" %}
  {% assign list-count = 0 %}
  {% for list in lists %}
    <div>
      {{ list.page-nr }}
      <a href="{{ list.url | relative_url }}">{{ list.title }}</a>
      {% assign list-count = list-count | plus: 1 %}
    </div>
  {% endfor %}
</div>

<h3>Homepage</h3>
<div class="articles">
  {% for index in site.index %}
    <div>
      <a href="{{ index.url | relative_url }}">{{ index.title }}</a>
    </div>
  {% endfor %}
</div>

<p><i>Statistics: Pages: {{ article-count }}, Lists: {{ list-count }}, Homepages: 1</i></p>
