<a href="{{ 'text-erh-welt-adjudicated' | relative_url }}">
  <img src="{{ 'assets/images/bipolar_world.png' | relative_url }}" class="img-right img-large" alt="Uncentered World">
</a>
{% assign articles = site.articles | where: "language", page.language | where: "landingpage", "front" | sort: "order-lp" %}
<div class="articles">
  {% for article in articles %}
    <div>
      <h2>{{ article.title }}</h2>
      {{ article.excerpt }}
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
      <hr>
    </div>
  {% endfor %}
</div>

{% assign pagex = site.infrapages | where: "language", page.language %}
<div class="articles">
  {% for page2 in pagex %}
    {% if page2.category == "overview"  and page2.category != "lang-overview" %}
      <div>
        <h2>{{ page2.title }}</h2>
        <a href="{{ page2.url | relative_url }}">{{ page2.title }}</a>
      </div>
    {% endif %}
  {% endfor %}
</div>

<div>
  <br/>
  <br/>
  <br/>
  <hr>
</div>
<h3>{{ site.data.languages[page.language].changes }}</h3>
{% assign articles = site.articles | where: "language", page.language |  sort: "published" | reverse %}
<div class="articles">
  {% for article in articles limit:3 %}
    <div>
      {{ article.published | default: 2022| append: ": " }}<a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>
