{{ site.data.languages[page.language].lang-overview }}
<br>

{% assign articles = site.infrapages | where: "category", "overview" %}
<div class="articles">
  {% for article in articles %}
  {% assign language = site.data.languages[article.language] %}
    <ul>
      <li><a href="{{ article.url | relative_url }}">{{ language.lang-text }}</a></li>
    </ul>
  {% endfor %}
</div>
