<strong>Menü</strong>
<div>
  <div>
    {% assign erh-page = site.articles | where: "page-nr", "100" | where: "language", page.language | first  %}
    <a href="{{ erh-page.url | relative_url }}"><strong>Eugen Rosenstock-Huessy</strong></a>
    {% assign lists = site.lists | where: "language", page.language | where: "column", "1" | sort: "row" %}
    {% for list in lists %}
      <a href="{{ list.url | relative_url }}"class="{% if list.used-categories contains page.category %}breadcrumb{% endif %}">{{ list.menu | default: list.title }}</a>
    {% endfor %}
  </div>
  <div>
    {% assign lang-page = site.infrapages | where: "category", "lang-overview" | where: "language", page.language | first  %}
    <a href="{{ lang-page.url | relative_url }}"><strong>{{ site.data.languages[page.language].nav2-title }}</strong></a>
    <!-- add list of the same pages in other languages -->
    {% assign pagex = site.articles | concat: site.lists | concat: site.index | concat: site.infrapages | where: "page-nr", page.page-nr %}
    {% for page2 in pagex %}
        {% if page2.url != page.url %}
            <a href="{{ page2.url | relative_url }}">{{ site.data.languages[page2.language].lang-text }}</a>
        {% endif %}
    {% endfor %}
  </div>
</div>
