<img src="{{ 'assets/images/rosenstock_huessy_bild1.jpg' | relative_url }}" class="img-right img-large" alt="Eugen Rosenstock-Huessy">

{% assign pagex = site.articles | concat: site.lists | where: "language", page.language | sort: "page-nr" %}
<div class="articles">
  {% for page2 in pagex %}
    {% if page2.category != "overview"  and page2.category != "lang-overview" and page2.category != "index" %}
      <div>
        <a href="{{ page2.url | relative_url }}">{{ page2.title }}</a>
      </div>
    {% endif %}
  {% endfor %}
</div>
