---
title: About
language: en
page-nr: 1080
column: 1
row: 8
used-categories: about
---
<p>
  This is a Polyglot Website about Eugen Rosenstock-Huessy.
</p>
<p>
  A list of <a href="{{ 'zz-all-pages-en' | relative_url }}">all pages</a> provides a good overview.
</p>
<p>
  <a href="mailto:info.erhg@gmail.com">Email to ERHG</a>
</p>
<p>
  Responsible<br>
  Jürgen Müller
</p>
