---
title: Insights
language: en
page-nr: 1030
column: 1
row: 2
used-categories: insight
---
<img src="{{ 'assets/images/rosenstock_huessy_bild1.jpg' | relative_url }}" class="img-right img-large" alt="Eugen Rosenstock-Huessy">

{% assign articles = site.articles | where: "category", "insight" %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>

<a href="https://histvv.uni-leipzig.de/dozenten/rosenstock_e.html">Rosenstock-Huessy an der Universität Leipzig, 1913 - 1914</a>
<br>
