---
title: Life portraits
language: en
page-nr: 1020
column: 1
row: 1
used-categories: lebensbild
---
{% include carousel.html
   title="Friends and Students"
   image1="Franz_Rosenzweig.jpg"
   caption1="Franz Rosenzweig"
   image2="Rudolf_Ehrenberg2.jpg"
   caption2="Rudolf Ehrenberg"
   image3="Page_Smith.jpg"
   caption3="Page Smith"
   image4="Harold_Berman.jpg"
   caption4="Harold Berman"
%}

{% assign articles = site.articles | where: "language", "en" | where: "category", "lebensbild" | sort: "order" %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>
<br/>
<h3>Life portraits on other websites</h3>

<p>
  <a href="https://www.erhfund.org/biography/">ERH Fund: A biographical sketch</a>.
</p>
<p>
  <a href="https://www.erhfund.org/the-polish-vita-2001/">Raymond Huessy at a meeting in Poland in 2000</a>.
</p>
<p>
  <a href="https://dartmouthalumnimagazine.com/articles/eugen-rosenstock-huessy">Norman Fiering: A Towering Intellect</a>.
</p>
<p>
  <a href="https://plato.stanford.edu/entries/rosenstock-huessy/">Wayne Cristaudo in Stanford Encyclopedia of Philosophy</a>.
</p>
<br/>
<h3>Rosenstock-Huessy on Wikipedia</h3>

<ul>
  <li><a href="https://en.wikipedia.org/wiki/Eugen_Rosenstock-Huessy">English</a></li>
  <li><a href="https://de.wikipedia.org/wiki/Eugen_Rosenstock-Huessy">German</a></li>
  <li><a href="https://nl.wikipedia.org/wiki/Eugen_Rosenstock-Huessy">Dutch</a></li>
  <li><a href="https://es.wikipedia.org/wiki/Eugen_Rosenstock-Huessy">Spanish</a></li>
  <li><a href="https://pt.wikipedia.org/wiki/Eugen_Rosenstock-Huessy">Portugese</a></li>
  <li><a href="https://ru.wikipedia.org/wiki/Розеншток-Хюсси,_Ойген">Russian</a></li>
  <li><a href="https://ar.wikipedia.org/wiki/يوجين_روزنستوك_هويسي">Arabic</a></li>
</ul>
