---
title: Reception
language: en
page-nr: 1050
column: 1
row: 4
used-categories: reception
---
<img src="{{ 'assets/images/ERH-lecturing.jpg' | relative_url }}" class="img-right img-xlarge" alt="Eugen Rosenstock-Huessy">

{% assign articles = site.articles | where: "category", "reception" | sort: "page-nr" %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>
