---
title: Lebensbilder
language: de
page-nr: 1020
column: 1
row: 1
used-categories: lebensbild
---
{% include carousel.html
   title="Freunde und Schüler"
   image1="Franz_Rosenzweig.jpg"
   caption1="Franz Rosenzweig"
   image2="Rudolf_Ehrenberg2.jpg"
   caption2="Rudolf Ehrenberg"
   image3="Page_Smith.jpg"
   caption3="Page Smith"
   image4="Harold_Berman.jpg"
   caption4="Harold Berman"
%}

{% assign articles = site.articles | where: "language", "de" | where: "category", "lebensbild" | sort: "order" %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>

<br/>
<h3>Lebensbilder auf anderen Websites</h3>

<p>
  <a href="https://kulturportal-west-ost.eu/biographien/rosenstock-huessy-eugen-2">Andreas Möckel auf Kulturportal West Ost</a>.
</p>
<p>
  <a href="https://www.deutsche-biographie.de/pnd11860273X.html">Hans-Christof Kraus auf Neue Deutsche Biographie</a>.
</p>

<br/>
<h3>Rosenstock-Huessy auf Wikipedia</h3>

<ul>
  <li><a href="https://de.wikipedia.org/wiki/Eugen_Rosenstock-Huessy">deutsch</a></li>
  <li><a href="https://nl.wikipedia.org/wiki/Eugen_Rosenstock-Huessy">niederländlisch</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Eugen_Rosenstock-Huessy">englisch</a></li>
  <li><a href="https://es.wikipedia.org/wiki/Eugen_Rosenstock-Huessy">spanisch</a></li>
  <li><a href="https://pt.wikipedia.org/wiki/Eugen_Rosenstock-Huessy">portugisisch</a></li>
  <li><a href="https://ru.wikipedia.org/wiki/Розеншток-Хюсси,_Ойген">russisch</a></li>
  <li><a href="https://ar.wikipedia.org/wiki/يوجين_روزنستوك_هويسي">arabisch</a></li>
</ul>
