<!doctype html>
<html lang="{{ page.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="content-security-policy" content="base-uri 'none'; default-src 'none'; img-src 'self'; style-src 'self'">
    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <link rel="icon" href="{{ 'favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}?{{ site.time | date: '%s' }}">
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% endif %}
    <title>{{ page.tab_title | default: page.title }}</title>
  </head>
  <body>
    <header>
      <a href="{{ '/' | relative_url }}" id="top">
        <img src="{{ 'assets/images/erhg_logo3.jpg' | relative_url }}" alt="Logo">
        <em>
          <span>Eugen Rosenstock-Huessy</span>
          <span>{{ site.data.languages[page.language].site-sub }}</span>
        </em>
      </a>
      <a href="#menu">Menü</a>
    </header>
    <nav id="menu">
      {% include navigation.html %}
    </nav>
    <main>
      {% unless page.tab_title %}
        <h1>{{ page.title }}</h1>
      {% endunless %}
      {{ content }}
    </main>
  </body>
</html>
